* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Baloo 2", sans-serif;
    background-color: #040911;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 51px;
    flex-direction: column;
}

.container {
    margin-top: 121px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1 {
    color: #00A5E3;
    font-size: 75px;
    margin-bottom: 10px;
}

p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.routines-grid {
    display: flex;
    max-width: 876px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 63px 56px;
}

.routine-item {

    position: relative;
    width: 374px;
    height: 374px;
    border-radius: 10px;
    transition: transform 0.3s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    overflow: hidden; 
}
.routine-img {
    position: relative;
    width: 187px;
    height: 187px;
    overflow: hidden;
}	
.image-front, .image-back {
    position: absolute; 
    top: 0;
    left: 0;
    height: 187px;
    width: 187px;
    transition: opacity 0.5s ease; 
}


.routine-item:hover {
    transform: scale(1.05);
}

.image-front {
    z-index: 2; /* La imagen frontal tiene una capa más alta por defecto */
    opacity: 1; /* Totalmente visible */
}
.image-back{
    z-index: 1; /* Imagen de fondo */
}
.routine-img:hover .image-front {
    opacity: 0; /* Al hacer hover, la imagen superior desaparece */
}



.routine-first {
    width: 374px;
    height: 374px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    position: relative; 
}
.routine-first:hover {
    transform: scale(1.05);
}

.routine-first img {
    width: 100%;
    height: auto;
}

.routine-info {
    padding-bottom: 21px;
    padding-left: 21px;
    display: flex;
    position:absolute;
    bottom:0;
    left: 0;
    width: 100%;
    flex-direction: column;

}

.routine-info h3 {

    width: 145px;
    height: 41px;
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #0947CE;
    border-radius: 20px;
    z-index: 3;
}

.routine-info button {
    font-family: "Baloo 2", sans-serif;
    background-color: #00A5E3;
    border: none;
    width: 220px;
    height: 49px;
    color: white;
    border-radius: 20px;
    /*cursor: pointer;*/
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
    z-index: 3;
}
.routine-info button:hover {
    background-color: #007AB8;
}


 