/* Fondo y color general */
body {
    background-color: #1E1E1E; /* Fondo oscuro */
    color: #FFFFFF; /* Texto blanco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Estilo para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0052cc; /* Color de fondo azul */
    padding: 10px 20px;
    height: 70px;
}

.logo-container {
    display: flex;
    align-items: center;
    position: relative;
}

.logo-background {
    width: 87px;
    height: 52px;
    background: #D9D9D9;
    border-radius: 31px;
    position: absolute;
    left: 0;
    top: 0;
}

.logo-text {
    width: 57px;
    height: 43px;
    padding-top: 4px;
    z-index: 1;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-title,
.logo-subtitle,
.logo-plus {
    color: black;
    font-family: 'Baloo Bhai', sans-serif;
}

.login-button {
    background-color: #000; /* Fondo negro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #333; /* Color al pasar el ratón */
}

/* Estilo de los títulos */
h1, h2, h3 {
    color: #0CC4EA; /* Color de los títulos */
    margin-bottom: 10px;
}

/* Estilo de los párrafos */
p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilo de listas */
ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}
