/* Estilos para el body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', sans-serif;
    background-color: #1C1C1C;
    color: white;
    text-align: center;
}

/* Estilos para el footer */
footer {
    background-color: #0052cc;
    color: white;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Estilo del logo */
.footer-logo h2 {
    font-weight: bold;
    color: black; /* Cambiado el color del logo a negro */
    margin: 0;
}

.logo-gym {
    font-size: 48px; /* GYM más grande */
}

.logo-fitness {
    font-size: 36px; /* FITNESS tamaño intermedio */
}

.logo-plus {
    font-size: 24px; /* PLUS+ más pequeño */
}

/* Estilos para las secciones de texto */
.footer-info h3,
.footer-apps h3 {
    color: black; /* Cambiado el color del título a negro */
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 300px;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 1.1;
}


.footer-info p,
.footer-apps p {
    font-size: 18px;
    line-height: 1.5;
}

.footer-info a {
    color: white;
    line-height: 1.6;
    margin-bottom: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

/* Estilos para las imágenes de las apps */


.footer-apps a img {
    width: 200px;
    margin: 10px 0;
}

.footer-apps a {
    display: block;
}

.footer-apps a:not(:last-child) {
    margin-bottom: 10px;
}
