
body {
  margin: 0;
  padding: 0;
  background-color: #040911;
  font-family: 'Baloo 2', sans-serif;
  color: white;
}

.rutina {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  width: 100%;
  background-color: #0947CE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 32px;
}

.logo-gym {
  display: flex;
  align-items: center;
}

.logo-background {
  width: 87px;
  height: 52px;
  background-color: #D9D9D9;
  border-radius: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  text-align: center;
  color: black;
}

.logo-text .gym {
  font-size: 27px;
  font-family: 'Baloo Bhai', cursive;
}

.logo-text .fitness {
  font-size: 15px;
  font-family: 'Baloo Bhai', cursive;
}

.logo-text .plus {
  font-size: 15px;
  font-family: 'Baloo Bhai', cursive;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.menu li {
  font-size: 15px;
  font-weight: 500;
}

.menu a {
  color: white;
  text-decoration: none;
}


.intro-text {
  text-align: center;
  margin: 20px 0;
}

.intro-text h1 {
  color: #0AA3E7;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 30px;
  margin: 10px 0;
}

.intro-text p:last-of-type {
  font-size: 37px;
}


.footer {
  width: 100%;
  background-color: #0947CE;
  padding: 40px 0;
  color: black;
}

.footer .content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer .section {
  max-width: 300px;
  text-align: center;
}

.footer .section h2 {
  font-size: 36px;
  font-family: 'Baloo', cursive;
  margin-bottom: 10px;
}

.footer .section p {
  font-size: 26px;
  color: #D9D9D9;
}
