/* Estilos generales */
body {
    font-family: "Baloo 2", sans-serif;
    background-color: #040911; /* Fondo oscuro */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 25px;
}

h1 {
    margin: 0;
    font-size: 64px;
    font-weight: bold;
}

.routine-name {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.routine-name span {
    margin-right: 10px;
}

.save-button {
    font-family: "Baloo 2", sans-serif;
    background-color: #0052cc;
    font-weight: bold;
    color: white;
    width: 199px;
    height: 87px;
    border: none;
    border-radius: 53px;
    font-size: 20px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #003ea8; /* Cambio de color al hacer hover */
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    font-family: "Baloo 2", sans-serif;
    font-size: 20px;
    height: 58px;
    width: 812px;
    padding-left: 60px;
    border: none;
    border-radius: 30px;
    background-color: #9DB4F0;
    color: #697699;
    outline: none;
    box-sizing: border-box;
}

.search-container img{
    position:absolute;
    margin-left: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.category {
    width: 84px;
    height: 27px;
    font-family: "Baloo 2", sans-serif;
    background-color: #D9D9D9;
    color: #697699;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.category:hover {
    background-color: #6e6e6e;
}

.ImagenEjercicios{
    
    height: 187px;
    width: 187px;
}