body {
    font-family: "Baloo 2", sans-serif;
    background-color: #040911; /* Fondo oscuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    height: 588px;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    overflow: hidden;
    width: 800px;
}

section {
    width: 50%;
    background-color: #0B80E9; /* Azul oscuro */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

.register-section {
    background-color: #0947CE; /* Color azul más oscuro para el registro */
}

h2 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
}

hr {
    width: 80%;
    border: 1px solid #fff;
    margin: 0px;
}



.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    height: 52px;
    width: 232px;
    padding-left: 60px;
    border: none;
    outline: none;
    border-radius: 31px;
    background-color: #9DB4F0; /* Color gris de los campos de entrada */
    color: #697699;
    box-sizing: border-box;
}

.input-group img {
    position: absolute;
    margin-left: 20px;
}

button {
    width: 203px;
    height: 57px;
    border-radius: 31px;
    font-family: "Baloo 2", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.registro-button {
    background-color: #0B80E9;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.iniciarsesion-button {
    background-color: #0947CE;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registro-button:hover {
    background-color: #0041b3; /* Cambio de color al hacer hover */
}

.forgot-password {
    color: #d9d9d9;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #4BDFF2;
}

