/* Estilos para el logo y el texto */
body{
    margin: 0;
}

header{
    font-family: "Baloo 2", sans-serif;
    font-style: normal;
    width: 1216px;
    height: 40px;
    margin: 0px;
    padding: 11px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0052cc; /* Fondo azul */  
}

.logo {
    width: 87px;
    height: 52px;
    background: #D9D9D9;
    border-radius: 31px;
    display: inline-flex;
    align-items: flex-start;
}

.logo-text{
    color: black;
    padding: 6px 15px;
    padding-top: 10px;
    font-weight: 800;
    line-height: 12px;
    text-align: start;
}

.logo-title {
    font-size: 27px;
}

.logo-subtitle {
    font-size: 15px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    font-weight: bold;
}